@import '/src/lib/styles/vars.scss';

.filter-options {
  position: absolute;
  z-index: 1;

  background-color: #fff;
  padding: 10px;
  margin-top: 5px;
  margin-left: 5px;
  border: 2px solid #000;
  border-radius: 10px;

  & ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
  }
}

@media screen and (max-width: $narrow) {
  .filter-options {
    max-width: 200px;
  }
}
