.consumption-list {
  margin-bottom: 20px;

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .name {
    color: #949494;
    font-size: 12px;
  }

  .price {
    color: #555555;
    font-size: 16px;
  }

  .range-wrapper {
    background: #f2f2f2;
    border-radius: 100px;
    height: 20px;

    .inner {
      height: 100%;
      width: 40%;
      background-color: #b2a8d8;
      border-radius: inherit;
    }
  }
}
