@import '/src/lib/styles/vars.scss';

.diary-center-section {
  display: flex;
  // font-family: 'Pretendard';
  font-style: normal;
  max-height: 420px;
}

@media screen and (max-width: $semi-wide) {
  .diary-center-section {
    flex-direction: column;
    max-height: 980px;
  }
}
