@import '/src/lib/styles/vars.scss';

.map {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard Variable';
  font-variation-settings: 'wght' 500;
}
.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
  color: #000;
  text-decoration: none;
}
.map_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
#menu_wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 250px;
  margin: 10px 0 30px 70px;
  padding: 5px;
  overflow-y: auto;
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
  background: #ffffff;
  opacity: 0.85;
  box-shadow: 1px 1px 2px rgba(41, 41, 41, 0.25),
    4px 4px 20px rgba(0, 0, 0, 0.25), 0px 4px 18px rgba(137, 137, 137, 0.25);

  @media (max-width: $normal) {
    margin: 10px 0 30px 10px;
    width: 210px;
  }

  @media (max-width: $narrow) {
    margin: 10px 0 30px 70px;
    top: 60%;
    max-width: 100%;
    width: 90vw;
    margin: 0;
  }
}
.bg_white {
  background: #fff;
}
#menu_wrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #5f5f5f;
  margin: 3px 0;
}
#menu_wrap .option {
  text-align: center;
}
#menu_wrap .option p {
  margin: 10px 0;
}
#menu_wrap .option button {
  margin-left: 5px;
}
#placesList li {
  list-style: none;
}
#placesList .item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-top: 15px;
  min-height: 65px;

  @media (max-width: $narrow) {
    margin-left: 10%;
  }
}
#placesList .item::after {
  content: '';
  display: block;
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  border-bottom: 1px solid #dbdbdb;
}

#placesList .item:nth-child(1) {
  margin-top: 10px;
}

#placesList .item span {
  display: block;
  margin-top: 4px;
}
#placesList .item h5 {
  font-variation-settings: 'wght' 650;
  // font-size: 15px;
  font-size: 1rem;
  margin-bottom: 8px;
}
#placesList .item h5,
#placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  @media (max-width: $narrow) {
  }
}
#placesList .item .info {
  padding: 10px 0 10px 55px;

  @media (max-width: $normal) {
    padding: 10px 0 5px 45px;
  }
}
//!:
#placesList .info .jibun {
  margin-top: 8px;
  color: #868686;
  font-size: 13px;
  @media (max-width: $normal) {
    font-size: 12px;
  }
}
#placesList .info .tel {
  color: #5d949c;
  font-size: 13px;
  margin-top: 7px;
  margin-bottom: 19px;
  @media (max-width: $normal) {
    font-size: 12px;
  }
}
#placesList .item .markerbg {
  float: left;
  position: absolute;
  width: 36px;
  height: 37px;
  margin: 10px 0 0 15px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
    no-repeat;
  @media (max-width: $normal) {
    margin: 10px 0 0 5px;
  }
}
#placesList .item .marker_1 {
  background-position: 0 -10px;
}
#placesList .item .marker_2 {
  background-position: 0 -56px;
}
#placesList .item .marker_3 {
  background-position: 0 -102px;
}
#placesList .item .marker_4 {
  background-position: 0 -148px;
}
#placesList .item .marker_5 {
  background-position: 0 -194px;
}
#placesList .item .marker_6 {
  background-position: 0 -240px;
}
#placesList .item .marker_7 {
  background-position: 0 -286px;
}
#placesList .item .marker_8 {
  background-position: 0 -332px;
}
#placesList .item .marker_9 {
  background-position: 0 -378px;
}
#placesList .item .marker_10 {
  background-position: 0 -423px;
}
#placesList .item .marker_11 {
  background-position: 0 -470px;
}
#placesList .item .marker_12 {
  background-position: 0 -516px;
}
#placesList .item .marker_13 {
  background-position: 0 -562px;
}
#placesList .item .marker_14 {
  background-position: 0 -608px;
}
#placesList .item .marker_15 {
  background-position: 0 -654px;
}
#pagination {
  margin: 10px auto;
  text-align: center;
}
#pagination a {
  display: inline-block;
  margin-right: 10px;
  color: #868686;
}
#pagination .on {
  cursor: default;
  color: #434343;
}

.reset-button {
  background: $background-yellow;
  color: $fontColor-black;
  width: 226px;
  height: 48px;
  position: absolute;
  left: 40%;
  bottom: 10%;
  z-index: 100;
  border-radius: 10px;
  font-size: 20px;

  @media (max-width: $normal) {
    font-size: 15px;
    width: 150px;
    height: 40px;
  }

  @media (max-width: $narrow) {
    left: calc(55% - 90px);
    top: 5%;
  }
}

.road_address_name {
  font-size: 13px;
  color: #434343;

  @media (max-width: $normal) {
    font-size: 12px;
  }
}

.overlay {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  top: -60px;
  box-shadow: 1px 1px 2px rgba(41, 41, 41, 0.25),
    4px 4px 20px rgba(0, 0, 0, 0.25), 0px 4px 18px rgba(137, 137, 137, 0.25);
  font-size: 0.85rem;
}

.hide {
  display: none;
}
