@import '/src/lib/styles/vars.scss';

.diary-main-container {
    width: 100%;
}

.diary-main-flex-container {
    position: relative;
    display: flex;
    top: -50px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    letter-spacing: -0.7px;

    & section {
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 10px;
    }

    & h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
    }

    & p {
        color: #949494;
        font-size: 11px;
    }

    & em {
        font-weight: 600;
        font-size: 35px;
        line-height: 35px;
        color: #62CCAB;
    }
}

.diary-main-left-section {
    display: flex;
    flex-direction: column;
    flex-basis: calc(87% - 20px);
    margin: 0 10px;

    & section:first-child {
        margin-bottom: 10px;
    }

    & section:last-child {
        margin-top: 10px;
    }
}

.diary-main-right-section {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 10px;

    & section {
        display: flex;
        margin-bottom: 20px;
        flex-basis: 200px;
    }

    & section:last-child {
        margin-bottom: 0;
        flex-grow: 1;
    }

    .right-section-text-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .right-section-circle-img {
        align-self: flex-end;
        width: 100px;
        height: 100px;
        background-color: #E2E2E2;
        border-radius: 100%;
    }
}

@media screen and (max-width: $wide) {
    .diary-main-flex-container {
        flex-direction: column;
    }

    .diary-main-right-section {
        flex-direction: row;
        margin: 10px 0;

        & section {
            margin: 10px;
        }

        & section:last-child {
            margin: 10px;
        }
    }
}