@import '/src/lib/styles/vars.scss';

.community-search-container {
  display: flex;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  border-radius: 10px 10px 0 0;
}

.community-result-container {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0px;
  width: 100vw; // calc(100vw - 251px);
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.community-result-background {
  width: 100%;
  height: 380px;
  background-color: #ffffff;
}

.search-input {
  display: flex;
  position: relative;
  z-index: 5;
  align-items: center;
  flex-grow: 1;

  & input {
    width: 100%;
    max-width: 930px;
    height: 43px;
    border-radius: 100px;
    outline: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
  }
}

.community-search-history {
  width: 100%;
  padding: 30px 10px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #252525;
}

.community-submit-button {
  position: relative;
  z-index: 1;
  width: 22px;
  height: 22px;
  margin: 0 auto -33px 15px;

  & button {
    width: 22px;
    height: 22px;
    padding: 0;
    margin-right: auto;
  }

  & button svg {
    width: 18px;
    height: 18px;
  }
}

.search-icon {
  color: $background-yellow;
  margin-right: 10px;
  margin-bottom: -1.3px;
}

@media screen and (max-width: $narrow) {
  .community-search-container {
    padding: 0 10px;
  }
}
