@import '/src/lib/styles/vars.scss';

.article-main-section {
}

.article-detail-info {
  display: flex;
  margin: 40px;

  & .article-detail-user-profile {
    width: 55px;
    height: 55px;
    background-color: $background-yellow;
    border-radius: 100px;

    margin-right: 9px;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }

  & h3 {
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;
  }

  & p {
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #878888;
  }

  & .article-edit-delete-button {
    align-self: center;
    margin-left: auto;

    & button {
      font-weight: 400;
      font-size: 15px;
      line-height: 23px;

      color: #434343;

      margin: 0 5px;
    }
  }
}

.article-detail-nickname-createdTime {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.article-detail-content {
  padding: 0;
  margin: 0 90px;

  & .article-detail-content-text {
    min-height: 300px;
    margin-bottom: 30px;
  }

  & img {
    display: block;
    max-width: 100%;
    max-height: 800px;
  }

  & .article-detail-tag {
    max-width: 80px;
    height: 25px;

    border: 1px solid $borderColor-gray;
    border-radius: 15px;

    text-align: center;

    & span {
      font-size: 12px;
      line-height: 25px;
      color: #878888;
    }
  }
}

.article-detail-like-comments {
  display: flex;
  margin: 40px;

  & button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 40px;
    padding: 0;
    margin: 0 10px;
  }

  & span {
    font-size: 18px;
    line-height: 23px;
    color: #878888;
  }
}
