@import '/src/lib/styles/vars.scss';

.editor {
  height: 100%;
}

.editor-filter-container {
  margin: 30px 17px;
  display: flex;

  & select, & button {
    position: relative;
    z-index: 1;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background-color: transparent;
    
    height: 21px;
    border: 0;
    outline: none;
    padding-right: 30px;
    padding-left: 3px;
    margin: -5px 10px 0 0;

    
    color: #878787;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    cursor: pointer;
  }

  & button {
    margin-left: 10px;
  }
}

.quill {
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  & .ql-snow:first-child {
    border-bottom: 2px solid #ccc;
  }

  & .ql-snow:nth-child(2) {
    overflow: auto;
    flex-grow: 1;
    height: 500px;
    border-bottom: 2px solid #ccc;
  }
}