@import '/src/lib/styles/vars.scss';

.article-form {
  display: block;
  padding: 0 20px;

  input {
    width: 100%;
    font-size: 23px;

    border: 0;
    border-bottom: 1px solid $fontColor-gray;
    outline: none;

    padding-bottom: 15px;
    margin: -20px 0 30px;
  }
}

.editor-filter-container {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & select {
    width: 110px;
    text-align: center;
  }

  .tag-location-filter {
    display: flex;
  }
}

.tagList-button select, .Location-selector-button button {
  position: relative;
    z-index: 1;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background-color: transparent;
    
    height: 21px;
    border: 0;
    outline: none;
    padding-right: 20px;
    padding-left: 3px;
    margin: -4px 3px 2px 0;

    
    color: #878787;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    cursor: pointer;
}

.Location-selector-button {
  & button {
    width: 110px;
    margin-left: 22px;
    height: 21px;
  }
}

.quill {
  display: flex;
  flex-direction: column;
  padding: 0;

  & .ql-snow:first-child {
    border-bottom: 2px solid #ccc;
  }

  & .ql-snow:nth-child(2) {
    overflow: auto;
    flex-grow: 1;
    height: 500px;
    border-bottom: 2px solid #ccc;
  }
}