@import '/src/lib/styles/vars.scss';

.landing-first-section-background {
  background: url('../../../lib/assets/images/landing/section/section01/backgroundimage.png');
  background-position: right top;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: calc($narrow - $sidebar-closed);
  height: 930px;
  max-height: 980px;

  padding: 30px 0;
}

.landing-first-section-logo {
  width: 211px;
  height: 30px;
  margin: 0 28px 0 auto;
}

.landing-first-section-title-text {
  padding-left: 10%;
  margin: 150px 0 0 0;
  max-width: 716px;
  max-height: 162px;

  & img {
    width: 100%;
    height: 80%;
  }

  & h2 {
    font-family: 'TmoneyRoundWindNormal';
    font-weight: 400;
    font-size: 23px;
    line-height: 44px;

    margin: 15px 3px;
  }
}

.landing-first-section-login-btn {
  width: 220px;
  height: 70px;
  margin-top: 80px;
  margin-left: 12%;

  & button {
    width: 100%;
    height: 100%;
    background-color: $point-blue;

    font-weight: 400;
    font-size: 28px;
    line-height: 48px;

    color: #fff;
  }
}

/** -------------- 반응형  -------------------- */
@media screen and (max-width: $wide) {
  .landing-first-section-title-text {
    max-width: 500px;
    max-height: 130px;

    & h2 {
      font-size: 15px;
      line-height: 24px;

      margin: 10px 3px;
    }
  }

  .landing-first-section-login-btn {
    width: 180px;
    height: 55px;
    margin-top: 50px;  

    & button {
      font-weight: 400;
      font-size: 24px;
      line-height: 48px;
    }
  }
}

@media screen and (max-width: $semi-wide) {
  .landing-first-section-title-text {
    max-width: 400px;
    max-height: 130px;
  }

  .landing-first-section-login-btn {
    width: 150px;
    height: 44px;
    margin-top: 50px;  

    & button {
      font-weight: 400;
      font-size: 22px;
      line-height: 40px;
  
      color: #fff;
    }
  }
}

@media screen and (max-width: $narrow) {
  .landing-first-section-title-text {
    max-width: 350px;
    max-height: 110px;
  }
}