@import '/src/lib/styles/vars.scss';

.article-comments-section {
  border-top: 1px solid $borderColor-gray;

  & form {
    margin: 20px 40px;
  }
}

.article-comments-user-info {
  display: flex;
  align-items: center;

  & button {
    width: 60px;
    height: 36px;

    background-color: $background-yellow;
    margin-left: auto;

    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: $fontColor-black;

    &:disabled {
      cursor: not-allowed;
    }
  }
}

.article-comments-user-img {
  width: 55px;
  height: 55px;

  background-color: $background-yellow;
  border-radius: 100px;
  margin-right: 10px;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
}

.article-comments-user-nickname {
  height: 19px;
  font-weight: 600;
  color: $fontColor-black;
}
