@import '/src/lib/styles/vars.scss';

.Challenge {
  flex-grow: 1;
  padding: 15px;
  padding-left: 32px;
  min-width: 390px;
}

.Challenge-title {
  display: flex;
  justify-content: space-between;

  & div {
    display: flex;
    flex-grow: 1;
    
    p {
      display: -webkit-inline-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 1;
      padding: 0 10px;
    }
  }

  & button {
    min-width: 90px;
    color: #ffffff;
    background-color: $background-yellow;
    height: 30px;
  }
}

.Challenge-modal-Button {
  text-align: right;
  margin: -10px 0 0;

  & button {
    background-color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }
}