@import '/src/lib/styles/vars.scss';

.Challenge {
  flex-grow: 1;
  padding: 15px;
  padding-left: 32px;
  min-width: 390px;
}

.Challenge-title {
  display: flex;
  justify-content: space-between;

  & div {
    display: flex;
    flex-grow: 1;

    h2 {
      font-family: TmoneyRoundWindBold;
      font-size: 20px;
      line-height: 26px;
      color: $fontColor-black;
    }

    p {
      display: -webkit-inline-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 1;
      padding: 0 10px;
    }
  }

  & button {
    min-width: 90px;
    font-weight: 400;
    color: $fontColor-black;
    background-color: $background-yellow;
    height: 30px;
  }
}

.Challenge-modal-Button {
  text-align: right;
  margin: -15px -5px 0 0;

  & button {
    background-color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
  }
}

@media screen and (max-width: $narrow) {
  .Challenge {
    max-width: 100%;
    min-width: 300px;
    padding: 15px;
  }

  .Challenge-title {
    & div {
      h2 {
        font-size: 1rem;
      }
    }
  }
}
