@import '/src/lib/styles/vars.scss';

.Health-section {
    flex-grow: 1;
    min-height: 234px;

    & > div:first-child {
        display: flex;
        align-content: center;
        
        & button {
            background-color: #fff; 
            margin: 0 0 0 auto;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
        }
    }
}

.Health-content-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0;
    justify-content: space-between;
    height: 126px;
}


@media screen and (max-width: $semi-wide) { 
    .Health-section {
        min-height: 360px;
    }
}