@import '/src/lib/styles/vars.scss';

.Health-category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 23%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  padding: 20px;
}

.Health-category-top {
  display: flex;
  justify-content: space-between;

  & div:first-child {
    height: 80%;

    p {
      display: inline-block;
      margin-top: 10px;
      white-space: nowrap;
    }
  }

  & h3 {
    font-size: 15px;
    font-weight: 800;
    line-height: 17.9px;
  }
}

.Health-circle-img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin-right: -16px;

  & img {
    width: 100%;
    height: 100%;
  }
}

.Health-category-bottom {
  width: 100%;
  height: 100%;
  text-align: left;
  margin-top: -20px;
  font-family: 'TmoneyRoundWindBold';

  & em {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #252525;
  }

  & span {
    font-family: 'TmoneyRoundWindBold';
    font-weight: 600;
    font-size: 18px;
    line-height: 48px;
  }

  & label {
    display: block;
    margin: -24px 3px 0 auto;
    width: 28px;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
  }
}

@media screen and (max-width: $wide) {
  .Health-circle-img {
    margin: 0;
  }
}

@media screen and (max-width: $semi-wide) {
  .Health-category {
    flex-basis: 48%;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: $semi-wide) {
  .Health-category {
    width: 22%;
  }
}
