@import '/src/lib/styles/vars.scss';

.diary-health-section {
    flex-basis: 234px;
    flex-grow: 1;

    & > div:first-child {
        display: flex;
        align-content: center;
        
        & button {
            background-color: #fff; 
            margin: 0 0 0 auto;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #62ccab;
        }
    }
}

.Health-content-container {
    display: flex;
    margin: 10px 0 0;
    justify-content: space-between;
    height: 126px;
}