@import '/src/lib/styles/vars.scss';

.pet-account-list {
  width: 954px;
  margin: 63px auto 0;

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .pet-name {
    display: block;
    font-family: TmoneyRoundWindBold;
    font-size: 28px;
    color: $fontColor-black;
  }

  .chevron {
    display: block;
    margin-right: 27px;
  }
}
