@import '/src/lib/styles/vars.scss';

.landing-first-section-nav {
  width: 100%;
  margin: 200px auto 0;

  & ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5%;
  }

  & ul li {
    min-width: 150px;
    margin: 10px 30px;
  }

  & ul li button {
    background: transparent;
    display: flex;
    align-items: center;
  }

  & ul li img {
    width: 45px;
    height: 50px;
  }

  & ul li span:last-child {
    font-family: 'TmoneyRoundWindNormal';
    color: $font-brown;
    font-size: 20px;
  }
}

@media screen and (max-width: $narrow) {
  .landing-first-section-nav {
    & ul li span:last-child {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: $normal) {
  .landing-first-section-nav {
    margin: 100px auto 0;
  }
}

@media screen and (max-width: $narrow) {
  .landing-first-section-nav {
    & ul {
      flex-direction: column;
      margin-top: -50px;
    }

    & ul li {
      min-width: 150px;
    }
  }
}
