@import '/src/lib/styles/vars.scss';

.calender {
  * {
    // border: 1px solid gray;
  }

  font-family: TmoneyRoundWindNormal;
  display: flex;
  flex-direction: column;
  min-width: 390px;
  min-height: 420px;
  padding-right: 32px;
  margin: 0 auto;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px 0px 32px;

    h2 {
      font-size: 28px;
      color: #252525;
    }

    .buttons {
      margin-bottom: 10px;
    }

    .buttons > button {
      background-color: $background-yellow;
      border: 0;
      width: 30px;
      height: 30px;
      border-radius: 10px;
      cursor: pointer;
      color: #fff;
      font-size: 1rem;
    }

    .buttons > button:nth-child(2) {
      margin-left: 10px;
    }
  }

  .body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px auto;
    padding-left: 20px;
    margin-bottom: 50px;

    .dayOfWeek,
    .days {
      display: contents;
    }

    .dayOfWeek > .item {
      justify-items: center;
      align-items: center;
      display: inline-grid;
      font-size: 17px;
      font-weight: 500;
      color: #868686;
      // font-family: 'Noto Sans', sans-serif;
      margin-left: 10px;
    }

    .days > .item {
      text-align: right;
      color: #b7b7b7;
      font-size: 15px;
      min-height: 51.2px;
      cursor: pointer;
    }
  }
}
