@import '/src/lib/styles/vars.scss';

.hasDataFont {
  background-color: $point-blue;
  color: #fff;
}

.today {
  color: gray;
  font-weight: bold;
}

.item {
  position: relative;

  .day {
    font-family: TmoneyRoundWindNormal;
    left: 50%;
    line-height: 2rem;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    float: right;
    text-align: center;
    border: 0 !important;
  }

  .hasDataIcon {
    position: absolute;
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 8px;
    height: 8px;
    left: 60%;
    top: 60%;
    display: none;

    @media (max-width: 500px) {
      left: 52%;
    }
  }

  .show {
    display: block;
  }
}
