@import '/src/lib/styles/vars.scss';

.landing-forth-section {
  background-color: #fff;
  padding: 200px 10%;
}

.landing-forth-section-background {
  display: flex;
  justify-content: space-between;

  max-width: 1400px;
  margin: 0 auto;
}

.landing-forth-section-title {
  // width: calc(50% - 50px);
  width: 80vw;
}

.landing-forth-section-text {
  margin: 0 0 100px 100px;
  width: 70%;

  h2 {
    font-family: 'TmoneyRoundWindBold';
    font-size: 36px;
    line-height: 47px;
    color: $fontColor-black;
    white-space: pre;

    margin-top: 100px;
  }

  p {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: $fontColor-deep-gray;
    letter-spacing: -1px;
    white-space: pre;

    margin-top: 26px;
  }
}

.landing-forth-section-img {
  width: 70%;
  margin: 0 auto;

  & img {
    width: 100%;
  }
}

@media screen and (max-width: $ultra-wide) {
  .landing-forth-section-background {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: $normal) {
  .landing-forth-section {
    padding: 200px 15%;
  }

  .landing-forth-section-background {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80vw;
  }

  .landing-forth-section-img {
    width: 500px;
    margin: 0 auto;

    & img {
      width: 100%;
    }
  }
}

@media screen and (max-width: $narrow) {
  .landing-forth-section {
    padding: 200px 10px;
  }

  .landing-forth-section-text {
    h2 {
      font-size: 2.4rem;
    }

    p {
      font-size: 17px;
    }
  }

  .landing-forth-section-img {
    width: 450px;
    margin: 0 auto;

    & img {
      width: 100%;
    }
  }
}
