@import '/src/lib/styles/vars.scss';

.today-consumption-item {
  border: 1px solid #dbdbdb;
  width: 126px;
  height: 110px;
  border-radius: 10px;
  padding: 17px 15px 15px 15px;
  margin-left: 16px;

  @media (max-width: $semi-wide) {
    margin-left: 0;
    width: 160px;
  }

  @media (max-width: $narrow) {
    display: flex;
    width: 100%;
    height: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .item-title {
    padding: 5px 5px 0 5px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;

    .name {
      font-variation-settings: 'wght' 550;
      color: $font-brown;
      font-size: 15px;
      padding-left: 5px;

      @media (max-width: $narrow) {
        font-size: 13px;
      }
    }

    @media (max-width: $narrow) {
      margin-bottom: 0;
      padding: 0;
    }
  }

  .today-item-price {
    font-family: TmoneyRoundWindBold;
    color: $font-brown;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    justify-content: right;
    align-items: flex-end;

    @media (max-width: $narrow) {
      font-size: 13px;
    }

    .price {
      font-family: TmoneyRoundWindBold;
    }
  }

  .unit {
    font-family: 'Pretendard Variable';
    font-variation-settings: 'wght' 450;
    font-size: 14px;
    margin-left: 8px;
  }
}
