@import '/src/lib/styles/vars.scss';

.common-header-container {
    background: linear-gradient(90deg, #55B9C5 0%, #62CCAB 100%);
    box-sizing: border-box;
    border-bottom: 1px solid #D9D9D9;
    height: 201px;
    width: 100%;
}