.article-comments-createdTime {
  & span {
    font-size: 11px;
    line-height: 24px;

    margin-left: 12px;
  }
}

.comment-list-item-content {
  width: 100%;
  padding-left: 65px;
  margin: 12px 0;

  & p {
    font-size: 14px;
  }
}

.comment-edit-delete-button {
  margin-left: auto;

  & button {
    margin: 0 5px;
  }
}

.comment-delete-button {
  width: 20px !important;
  height: 20px !important;
}

.comment-edit-button {
  height: 20px !important;
  width: 42px !important;
}
