@import '/src/lib/styles/vars.scss';

.article-comments-createdTime {
  & span {
    font-size: 11px;
    line-height: 24px;

    margin-left: 12px;
  }
}

.comment-list-item-content {
  width: 100%;
  padding-left: 65px;
  margin: 12px 0;

  & p {
    font-size: 14px;
  }
}

.comment-list-item-reply {
  display: block;
  padding-left: 65px;
  margin: -10px 40px 0 0;
  text-align: right;
}

.comment-edit-delete-button {
  margin-left: auto;

  & button {
    margin: 0 5px;
  }
}

.comment-button {
  width: 42px !important;
  height: 20px !important;
}

.reply-show-more-button {
  & .show-more-button span {
    color: $fontColor-blue;
    font-weight: 800;

    margin: 2px;
  }
}
