.MyPostSection {
  padding-top: 30px;
  min-height: 576px;

  .mypost-title {
    margin-bottom: 41px;
    font-size: 16px;
    font-variation-settings: 'wght' 650;
  }

  .pagination {
    display: flex;
    width: 100%;
    justify-content: center;

    li {
      color: #878888;
      width: 15px;
      margin: 0 10px;
      text-align: center;
      cursor: pointer;
      font-variation-settings: 'wght' 400;

      .icon {
        font-size: 13px;
      }
    }
  }
}

.mypost-list {
  * {
    color: #878888;
    display: block;
    line-height: 23px;
  }

  .date,
  .content {
    margin-bottom: 30px;
  }

  .mypost {
    border-bottom: 1px solid #dbdbdb;
    margin: 30px 0;
  }
}
