@import '/src/lib/styles/vars.scss';

.diary-main-container {
  width: 100%;
}

.diary-main-flex-container {
  position: relative;
  display: flex;
  top: -50px;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;

  & section {
    background-color: #ffffff;
    border-radius: 10px;
  }

  & .section-title {
    font-family: TmoneyRoundWindBold;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    min-width: 60px;
  }

  & p {
    display: inline-block;
    margin-top: 4px;
    color: #949494;
    font-size: 12px;
    line-height: 20px;
  }

  & em {
    font-family: 'TmoneyRoundWindBold';
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
    color: $fontColor-black;

    display: -webkit-inline-box;
    -webkit-box-orient: vertial;
    line-clamp: 1;
  }
}

.Challenge-Health-section {
  display: flex;
  flex-direction: column;
  flex-basis: calc(85% - 20px);
  margin: 0 10px;

  & section:first-child {
    margin-bottom: 10px;
  }

  & section:last-child {
    margin-top: 10px;
  }
}

.Walking-Weight-SpecialNote {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: column;
  margin: 0 10px;

  & section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-basis: 200px;
  }

  & section:last-child {
    display: block;
    margin-bottom: 0;
    flex-grow: 1;
  }

  .right-section-text-box {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    & p {
      display: -webkit-inline-box !important;
      -webkit-box-orient: vertial !important;
      -webkit-line-clamp: 2 !important;
    }
  }

  .circle-img {
    align-self: flex-end;
    width: 80px;
    height: 80px;
    border-radius: 100%;
  }
}

.diary-section-Padding {
    padding: 24px;
    font-family: 'Pretendard';
    font-style: normal;
}

@media screen and (max-width: $wide) {
  .diary-main-flex-container {
    flex-direction: column;
    width: 100%;
  }

  .Walking-Weight-SpecialNote {
    flex-direction: row;
    min-height: 200px;
    margin: 10px 0;

    & section {
      margin: 10px;
      flex-basis: 230px;
    }

    & section:last-child {
      margin: 10px;
    }

    .circle-img {
        align-self: flex-end;
        width: 60px;
        min-width: 60px;
        height: 60px;
      }
  }
}


@media screen and (max-width: $semi-wide) {
    .diary-main-flex-container {
        width: 75%;
        min-width: 540px;
    }

    .diary-section-Padding {
        h2 {
            font-size: 17px;
            min-width: 80px;
        }
    }

    .Walking-Weight-SpecialNote {
      flex-direction: row;
      min-height: 250px;
      margin: 10px 0;

      & section {
        flex-basis: calc(50% - 20px);
      }

      .circle-img {
        align-self: flex-end;
        width: 60px;
        height: 60px
      }
    }
}