@import '/src/lib/styles/vars.scss';

.diary-main-container {
  width: 100%;
}

.diary-main-flex-container {
  position: relative;
  display: flex;
  top: -50px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  & section {
    background-color: #ffffff;
    border-radius: 10px;
  }

  & h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    min-width: 60px;
  }

  & p {
    display: inline-block;
    margin-top: 4px;
    color: #949494;
    font-size: 12px;
    line-height: 20px;
  }

  & em {
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
    color: #62ccab;
  }
}

.diary-main-left-section {
  display: flex;
  flex-direction: column;
  flex-basis: calc(87% - 20px);
  margin: 0 10px;

  & section:first-child {
    margin-bottom: 10px;
  }

  & section:last-child {
    margin-top: 10px;
  }
}

.diary-main-right-section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 0 10px;

  & section {
    display: flex;
    margin-bottom: 20px;
    flex-basis: 200px;
  }

  & section:last-child {
    margin-bottom: 0;
    flex-grow: 1;
  }

  .right-section-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .right-section-circle-img {
    align-self: flex-end;
    width: 80px;
    height: 80px;
    background-color: #e2e2e2;
    border-radius: 100%;
  }
}

.diary-section-Padding {
    padding: 15px;
    font-family: 'Pretendard';
    font-style: normal;
}

@media screen and (max-width: $wide) {
  .diary-main-flex-container {
    flex-direction: column;
    width: 100%;
  }

  .diary-main-right-section {
    flex-direction: row;
    margin: 10px 0;

    & section {
      margin: 10px;
    }

    & section:last-child {
      margin: 10px;
    }

    .right-section-circle-img {
        align-self: flex-end;
        width: 60px;
        min-width: 60px;
        height: 60px;
      }
  }
}


@media screen and (max-width: $semi-wide) {
    .diary-main-flex-container {
        width: 75%;
        min-width: 540px;
    }

    .diary-section-Padding {
        h2 {
            font-size: 17px;
            min-width: 80px;
        }
    }
}