.profile-container {
  width: 100%;
  height: 100%;

  * {
    font-family: 'Pretendard Variable';
    font-variation-settings: 'wght' 450;
  }

  .profile {
    margin: 40px auto;
    padding: 50px 30px 59px;
    max-width: 955px;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .active {
    font-variation-settings: 'wght' 550 !important;
    color: #1f2633 !important;
  }
}
