@import '/src/lib/styles/vars.scss';

.rate-result-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;

    & span:first-child {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;

        color: $fontColor-gray;
    }

    & span:last-child {
        font-family: 'TmoneyRoundWindNormal';
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;

        color: $fontColor-black;
    }
}