@import '/src/lib/styles/vars.scss';

.today-account {
  width: 954px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(137, 137, 137, 0.25);
  border-radius: 10px;
  margin: 45px auto;
  padding: 24px 24px 25px 25px;

  @media (max-width: $semi-wide) {
    width: 90%;
    margin: 45px auto 60px;
  }

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;

    h2 {
      font-family: TmoneyRoundWindBold;
      color: #252525;
      font-size: 20px;
    }

    button {
      color: #434343;
      font-size: 15px;
      font-weight: 400;
      border: 0;
      background: transparent;
      font-family: 'Pretendard Variable';
      font-variation-settings: 'wght' 400;
    }

    .edit-submit-btn {
      color: $point-blue;
    }
  }
}
