.today-account {
  top: -7%;
  position: relative;
  width: 954px;
  height: 194px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(137, 137, 137, 0.25);
  border-radius: 10px;
  margin: 45px auto;
  padding: 24px 24px 25px 25px;

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;

    h2 {
      font-weight: 600;
      color: #252525;
      font-size: 20px;
    }

    button {
      color: #434343;
      font-size: 15px;
      font-weight: 400;
      border: 0;
      background: transparent;
    }
  }

  .content-wrapper {
    display: flex;

    .today-total {
      width: 250px;
    }

    .total-title {
      color: #949494;
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 7px;
      display: inline-block;
      margin-top: 25%;
    }

    .total-price {
      font-weight: 600;
      font-size: 28px;
      color: #252525;
    }

    .unit {
      margin-left: 2px;
      font-weight: 500;
      font-size: 18px;
    }
  }
}

.today-consumption-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.today-consumption-item {
  border: 1px solid #dbdbdb;
  width: 126px;
  height: 110px;
  border-radius: 10px;
  padding: 20px 20px 25px 18px;

  .item-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .color {
      width: 24px;
      height: 24px;
      border: 1px solid #b2a8d8;
      background-color: #e6e0fc;
    }

    .name {
      color: #434343;
      font-weight: 500;
      font-size: 0.8rem;
      padding-left: 5px;
    }
  }

  .item-price {
    color: #555555;
    font-family: 'Noto Sans';
    font-size: 22px;
    font-weight: 500;

    .unit {
      font-family: 'Noto Sans';
      font-size: 14px;
      margin-left: 13px;
    }
  }
}
