.today-account {
  top: -7%;
  position: relative;
  width: 954px;
  height: 194px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(137, 137, 137, 0.25);
  border-radius: 10px;
  margin: 45px auto;
  padding: 24px 24px 25px 25px;

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;

    h2 {
      font-weight: 600;
      color: #252525;
      font-size: 20px;
    }

    button {
      color: #434343;
      font-size: 15px;
      font-weight: 400;
      border: 0;
      background: transparent;
    }
  }

  .content-wrapper {
    display: flex;

    .today-total {
      width: 250px;
    }

    .total-title {
      color: #949494;
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 7px;
      display: inline-block;
      margin-top: 25%;
    }

    .total-price {
      font-weight: 600;
      font-size: 28px;
      color: #252525;
    }

    .unit {
      margin-left: 2px;
      font-weight: 500;
      font-size: 18px;
    }
  }
}

.today-consumption-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
