@import '/src/lib/styles/vars.scss';

.landing-second-section {
  max-height: 940px;
  padding: 30px 0;
}

.landing-second-section-background {
  padding: 30px 0;
  min-height: 900px;

  background-image: url('../../../../lib/assets/images/landing/section/section02/image_00.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  & h2 {
    text-align: center;
    margin: 30px;

    font-family: 'TmoneyRoundWindBold';
    font-size: 36px;
    line-height: 47px;
    word-break: keep-all;
  }

  & p {
    max-width: 607px;
    margin: auto;
    word-break: keep-all;
    text-align: center;

    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: $fontColor-deep-gray;
  }
}

@media screen and (max-width: $wide) {
  .landing-second-section-background {
    min-height: 830px;
    padding: 30px auto;

    & h2 {
      font-size: 32px;
    }

    & p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: $semi-wide) {
  .landing-second-section-background {
    max-width: 80vw;
    min-height: 550px;
    padding: 0;
    margin: 0 auto;

    & h2 {
      font-size: 30px;
    }

    & p {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: $normal) {
  .landing-second-section {
    padding: 10% 0;
  }

  .landing-second-section-background {
    max-width: 80vw;
    min-height: 600px;
    padding: 0;

    background-position: 50% 60%;
    background-size: 120%;

    & h2 {
      margin: 30px auto;
      font-size: 22px;
    }

    & p {
      display: block;
      margin: 20px auto;
      font-size: 13px;
      width: 100%;
      white-space: pre-wrap;
    }
  }
}
