@import '/src/lib/styles/vars.scss';


.landing-second-section-background {
  padding: 30px 0;
  min-width: 600px;
  min-height: 900px;
  
  background-image: url('../../../../lib/assets/images/landing/section/section02/image_00.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  & h2 {
    text-align: center;
    margin: 30px;

    font-family: 'TmoneyRoundWindBold';
    font-size: 36px;
    line-height: 47px;
  }

  & p {
    max-width: 607px;
    margin: auto;
    white-space: pre;
    text-align: center;

    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: $fontColor-deep-gray;
  }
}

@media screen and (max-width: $wide) {
  .landing-second-section-background {
    min-height: 830px;
    padding: 30px 0;

    & h2 {
      font-size: 32px;
    }

    & p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: $semi-wide) {
  .landing-second-section-background {
    min-height: 730px;
    padding: 30px 0;

    & h2 {
      font-size: 32px;
    }

    & p {
      font-size: 14px;
    }
  }
}


@media screen and (max-width: $normal) {
  .landing-second-section-background {
    min-height: 650px;
    padding: 20px 0;

    & h2 {
      font-size: 28px;
    }

    & p {
      font-size: 13px;
    }
  }
}