@import '/src/lib/styles/vars.scss';

.today-account-edit-item {
  border: 1px solid #dbdbdb;
  width: 126px;
  height: 110px;
  border-radius: 10px;
  padding: 17px 15px 15px 15px;

  .item-title {
    padding: 5px 5px 0 5px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;

    .name {
      font-variation-settings: 'wght' 550;
      color: $font-brown;
      font-size: 15px;
      padding-left: 5px;
    }
  }

  .today-item-price {
    color: #555555;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    text-align: center;

    .today-input {
      color: $font-brown;
      font-family: TmoneyRoundWindBold;
      width: 100%;
      border-radius: 10px;
      background-color: inherit;
      border: 0;
      height: 35px;
      padding-left: 5px;
      font-size: 18px;
    }

    .today-input::placeholder {
      color: $font-brown;
    }
  }

  .today-item-price:focus-within {
    background-color: #fff;
    border: 1.5px solid $background-yellow;
  }

  .unit {
    font-size: 14px;
    padding-right: 5px;
  }
}
