@import '/src/lib/styles/vars.scss';

p {
  margin-top: 13px !important;
  font-weight: 400;
  font-size: 12px !important; 
  line-height: 14px;

  color: $fontColor-gray;
}


.week-select-box {
  font-family: 'TmoneyRoundWindNormal';

  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 7px 0;
  
  & > div {
    flex-basis: calc(50% - 10px);
    height: inherit;
  }

  & select {
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    height: inherit;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
  }

  & > .week-select-item:nth-child(1) select {
    padding-left: 50px;

  }

  & >.week-select-item:nth-child(1) {
    span {
      display: block;
      font-size: 14px;
      margin-top: -28px;
      margin-left: 10px;
    }

    label {
      margin-top: -16px;
    }
  }

  & > .week-select-item:nth-child(2) select {
    padding-left: 20px;
    margin-bottom: -5px;
  }
}
