@import '/src/lib/styles/vars.scss';

.add-pet-button {
  & button {
    width: 190px;
    text-align: center;
  }

  & span {
    font-family: 'TmoneyRoundWindBold';
    font-size: 20px;
  }
}

@media screen and (max-width: $normal) {
  .add-pet-button {
    margin-left: 3rem;

    & span {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: $narrow) {
  .add-pet-button {
    margin-left: 2rem;
  }
}
