@import '/src/lib/styles/vars.scss';

.MyInfoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  height: 323px;

  .myInfo {
    text-align: center;
    width: 400px;
  }

  .profile-img {
    border-radius: 100px;

    img {
      border-radius: 100px;
      width: 182px;
      height: 182px;
      background-color: $background-yellow;
    }
  }

  .bg_transparent {
    background-color: transparent;
  }

  .nickName {
    margin-top: 17px;
    color: #252525;
    font-variation-settings: 'wght' 650;
    font-size: 20px;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  .btn {
    position: relative;
    font-size: 14px;
    background: transparent;
  }

  .Withdrawal-btn {
    bottom: 80%;
    left: 47%;
    color: #878888;
    bottom: 70%;
  }

  .edit-profile-btn {
    bottom: 10%;
    left: 46%;
    color: $fontColor-black;
  }

  .edit-pet-btn {
    bottom: 5%;
    left: 47.5%;
    color: $fontColor-black;
  }
}
