@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css');

@font-face {
  font-family: TmoneyRoundWindBold;
  font-style: normal;
  src: url('/src/lib/assets/font/TmoneyRoundWind/02_수동설치파일/02_ttf/TmoneyRoundWindExtraBold.ttf')
    format('truetype');
}

@font-face {
  font-family: TmoneyRoundWindNormal;
  font-weight: normal;
  font-style: normal;
  src: url('/src/lib/assets/font/TmoneyRoundWind/02_수동설치파일/02_ttf/TmoneyRoundWindRegular.ttf')
    format('truetype');
}

body * {
  margin: 0;
  font-family: 'Pretendard Variable', Pretendard, TmoneyRoundWindNormal,
    -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus {
  outline: none;
  background-color: #fff;
}
