/* @import './lib/assets/font/Pretendard-1.3.6/pretendardvariable-dynamic-subset.css'; */

@font-face {
  font-family: TmoneyRoundWindBold;
  font-style: normal;
  src: url('/src/lib/assets/font/TmoneyRoundWindExtraBold.otf')
    format('truetype');
  font-display: block;
}

@font-face {
  font-family: TmoneyRoundWindNormal;
  font-weight: normal;
  font-style: normal;
  src: url('/src/lib/assets/font/TmoneyRoundWindRegular.otf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  src: local('Pretendard Variable'),
    url('/src/lib/assets/font/PretendardVariable.woff2')
      format('woff2-variations');
  font-display: block;
}

body {
  margin: 0;
}
