.today-account {
  .content-wrapper {
    display: flex;

    .today-total {
      width: 200px;
    }

    .total-title {
      color: #949494;
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 7px;
      display: inline-block;
      margin-top: 25%;
    }

    .total-price {
      font-weight: 600;
      font-size: 28px;
      color: #252525;
    }

    .total-price > .unit {
      margin-left: 2px;
      font-weight: 500;
      font-size: 18px;
    }
  }
}

.today-consumption-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.edit-account-form {
  width: 100%;
}
