@import '/src/lib/styles/vars.scss';

.add-account-modal {
  width: 350px;
  height: 660px;
  padding: 24px;

  * {
    font-family: 'Pretendard Variable';
    font-variation-settings: 'wght' 500;
  }

  @media (max-width: $narrow) {
    width: 230px;
  }
}

.add-account-form {
  .select-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 100%;
    border: 0;
    color: #757575;
    height: 35px;
    appearance: none;
    -webkit-appearance: none;
    padding: 0 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 24 24'%3E%3Cpath fill='%23757575' d='M18.71 8.21a1 1 0 0 0-1.42 0l-4.58 4.58a1 1 0 0 1-1.42 0L6.71 8.21a1 1 0 0 0-1.42 0 1 1 0 0 0 0 1.41l4.59 4.59a3 3 0 0 0 4.24 0l4.59-4.59a1 1 0 0 0 0-1.41Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 1em auto, 100%;

    .select-items {
      font-size: 16px;
    }
  }

  .label {
    font-size: 16px;
    color: #434343;
    display: block;
    margin-bottom: 12px;
  }

  .input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 100%;
  }

  select:focus {
    outline: none;
    background-color: #fff;
    border: 1.5px solid $background-yellow;
  }

  .input-wrapper:focus-within {
    background-color: #fff;
    border: 1.5px solid $background-yellow;
  }

  .add-input {
    background-color: inherit;
    border-radius: 10px;
    height: 36px;
    border: 0;
    width: 100%;
    padding-left: 11px;
  }

  .unit {
    font-size: 12px;
    color: #757575;
    padding-right: 11px;
  }

  .button-wrapper {
    display: flex;
    margin-top: 24px;
    justify-content: space-evenly;

    button {
      width: 90px;
      height: 36px;

      @media (max-width: $narrow) {
        width: 70px;
      }
    }
  }

  .cancel-btn {
    border: 2px solid $background-yellow;
    color: $fontColor-black;
    background-color: #fff;
  }

  .submit-btn {
    color: $fontColor-black;
    background-color: $background-yellow;
  }
}

.add-account-header {
  h2 {
    color: #252525;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  p {
    color: #949494;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
  }
}
